@model Polling.Domain.Entities.Poll

<div>
    <h1>
        @Model.PollQuestion
    </h1>
    <span>
        Published: @Html.DisplayFor(m => m.PubDate)
    </span>
</div>

<div>
    <h3>
    </h3>
    @Model.Description
    <h4>
        @using (Html.BeginForm("Vote", "Home", FormMethod.Post))
        { 
            @Html.HiddenFor(x => x.PollID)           
            foreach (var opt in Model.Options)
            {
                @Html.RadioButton("Option", opt.OptionID)
                @opt.Text
                <br />
            }
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </h4>
</div>
