@model Polling.Domain.Entities.Poll

@{
    AjaxOptions voteOptions = new AjaxOptions
    {
        UpdateTargetId = "poll-details"
    };
}

<div>
    <h1>
        @Model.PollQuestion
    </h1>
    <span>
        Published: @Html.DisplayFor(m => m.PubDate)
    </span>
</div>

<div>
    <h3>
    </h3>
    @Model.Description
    <h4>
        @using (Ajax.BeginForm("Vote", "Home", voteOptions))
        { 
            @Html.HiddenFor(x => x.PollID)           
            foreach (var opt in Model.Options)
            {
                @Html.RadioButton("Option", opt.OptionID)
                <text>&nbsp;</text>
                @opt.Text
                <br />
            }
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </h4>
</div>
